@charset "utf-8";
*{padding:0;margin:0}
body{color:#000;background:#fff url(images/background.png);font:16px "Trebuchet MS",Calibri,sans-serif;min-width:998px}
section,nav,footer,header{min-width:998px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}


main{margin:0 auto;width:998px;position:relative;clear:both;}

hr{height:8px;border:none;}
.yellow{background-color:#ffd700;}
.red{background-color:#f04e43;}

header{position:fixed;top:0;text-align:center;z-index:999;background-color:white;width:100%}
header main{background: url('images/logo.jpg') left center no-repeat;height:auto;}
header div{display:inline-block;}
header div.header-center{width:740px; vertical-align:top;}
header div.header-center p{font-weight:bold;font-size:24px;background-color:#ffd700; margin-left:290px; height:30px; margin-top:5px; padding-left:8px; width: 290px;}
header div.header-center p.header-right{margin-left:434px;width:auto;}
header div.header-right{text-align:right;margin-left:20px;}
header h3{font-size:32px;font-weight:normal;}
header h4{font-size:25px;margin-top:-10px;font-weight:normal;}
header h5{font-size:16px;margin-top:-10px;font-weight:normal;}

#top{background: url('images/fon.jpg') center center no-repeat; height:553px; color:#fff; text-align:center; font-family: Tahoma; font-weight:bold; text-transform:uppercase;padding-top:137px;margin-top:82px;}
#top div{background: rgba(0,0,0,0.75); height: 254px; padding-top:30px}
#top h1{font-size:105px; margin-top: -20px;}
#top h2{font-size:55px; margin-top: -18px;}
#top h3{font-size:48px;}
#top p{font-size:30px;text-transform:none;padding-top:60px;}
#top img{padding-top:50px;cursor:pointer}

#services{background:#ffffff}
#services h2{text-align:center;text-transform:uppercase;font:55px "Trebuchet MS";font-weight:bold;color:#676767; }
#services ol{list-style:none}
#services ol li{width:245px;text-align:center;position:relative;display:inline-block;margin-top:40px;padding-top:250px;vertical-align:top;font:16px "Trebuchet MS"; color:#ffb728}
.img1{background:url(images/services/1.png) no-repeat top center;}
.img2{background:url(images/services/2.png) no-repeat top center;}
.img3{background:url(images/services/3.png) no-repeat top center;}
.img4{background:url(images/services/4.png) no-repeat top center;}
#services p{color:#808080;font:25px "Myriad Pro Cond";vertical-align:center;position:relative;display:inline-block;margin-top:15px;width:240px;margin-left:5px;text-align:center;}

#formal{background:url(images/fon2.png);margin-top:45px;height:340px;}
#formal h2{font:36px "Trebuchet MS";font-weight:bold;text-align:center;color:#ffffff;padding-top:70px;}
#formal p{text-align:center;padding-top:50px;font:25px "Trebuchet MS";color:#ff5628;}

#achievements{height:490px;background:url(images/achivback.png) no-repeat center top;}
#achievements h2{text-align:center;text-transform:uppercase;padding-top:70px;font:60px "Trebuchet MS";font-weight:bold;color:#818181}
#achievements ol{padding-top:80px;list-style:none;text-align:center}
#achievements ol li{position:relative;display:inline-block;width:170px;background:url(images/trophy.png) no-repeat;height:170px;vertical-align:top;padding-top:57px;font:16px "Trebuchet MS";color:#666666;margin-left:25px}
#achievements ol li h3{font:42px "Trebuchet MS";font-weight:bold;color:#ff5628;margin-bottom:-10px}


#reasons{background:url(images/reasonbig.png)no-repeat center top;}
#reasons h2{text-align:center;text-transform:uppercase;font:45px "Trebuchet MS";padding-top:15px;}
#reasons ol{list-style:none;margin-top:60px}
#reasons ol li img{margin-top:15px}
#reasons ol li{position:relative;display:block;font:16px "Trebuchet MS";height:100px;margin:20px 0;}
.rimg1{background:url(images/r1.png) no-repeat left center;text-align:left;padding:0  50px 0 120px}
.rimg2{text-align:right;padding-bottom:65px}
.rimg3{background:url(images/r3.png) no-repeat left center;text-align:left;padding:0  50px 0 120px;}
.rimg4{text-align:right;padding-bottom:65px}
.rimg5{background:url(images/r5.png) no-repeat left center;text-align:left;padding:0  50px 0 120px}
.rimg6{text-align:right;padding-bottom:65px}



#careful{background: url(images/reasonsmall.png) no-repeat center top, url(images/textura.png);margin-top:40px}
#careful h2{text-align:center;color:#475047;font:48px "Trebuchet MS";font-weight:bold;padding:50px 0;margin-left:20px}
#careful h3{color:#ff5628;font:30px "Trebuchet MS";padding:10px 0;margin-left:20px}
#careful p{color:#475057;font:16px "Trebuchet MS";width:710px;margin-left:20px;top:50%}
#careful img.caution{float:right;margin: 0 70px 7px 0;}
#careful img.button{margin-top:15px;margin-left:25px;cursor:pointer}

#work{}

#comments{background: url('images/fon3.jpg') center top repeat-y;vertical-align:center; padding-bottom: 30px;}
#comments h3{font-size:50px;text-transform:uppercase;text-align:center;padding-top:38px;}
#comments div{vertical-align:center; display:display;width: 760px;}
#comments p{color:white;font-size:16px;font-weight:normal;vertical-align:center;height:209px; padding-left:175px;margin-left:70px;margin-top:25px;width: 760px;}
#comments p.d1{background: url('images/comments/d1.jpg') left center no-repeat;}
#comments p.d2{background: url('images/comments/d2.jpg') left center no-repeat;}
#comments p.d3{background: url('images/comments/d3.jpg') left center no-repeat;}

#certificates{text-align: center; padding-bottom:25px;}
#certificates h3{color:#2e302f;font-weight:bold;font-size:48px;margin:25px 0 50px 0;}
#certificates ol{list-style:none;}
#certificates li{display:inline-block; width: 160px; margin: 0 10px;}
#certificates ol li p{color:#2e302f;font-weight:normal;font-size:14px; height:50px; padding-top:10px;}

#request{}

#clients{}

footer